@font-face {
  font-family: 'Gunny Rewritten';
  src: local('gnyrwn971'), url('./font/gnyrwn971.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans'), url('./font/OpenSans.ttf') format('truetype');
}

body {
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
