:root {
  --blue: #0072b5;
  --blue-smoke: rgba(0, 114, 181, 0.15);
  --black: #222;
  --green: #78be20;
  --grey: rgba(51, 51, 51, 0.5);
  --margin-tiny: 10px;
  --margin-small: 40px;
  --margin-medium: 60px;
  --margin-large: 80px;
  --padding-tiny: 5px;
  --padding-small: 15px;
  --padding-medium: 30px;
  --border-radius: 12px;
  --font-small: 12px;
  --font-main: 16px;
  --font-bigger: 24px;
  --font-biggest: 26px;
  --box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 1);
}

.button {
  margin-right: var(--margin-tiny);
  padding: 3px 15px 3px 15px;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: max-content;
  font-size: var(--font-small);
  text-decoration: none;
}

.button > span {
  margin-right: 5px;
  font-weight: 600;
}

.button > p {
  align-self: center;
  margin: 0;
}

.searchButton {
  padding: 3px 15px 3px 15px;
  background-color: var(--blue);
  color: white;
  height: max-content;
  transition: all 0.5s ease;
}

.searchButton:hover {
  padding: 3px var(--padding-small) 3px var(--padding-small);
}

.bluePrimary {
  border: solid 1px;
  border-color: var(--blue);
  background-color: var(--blue);
  color: white;
  transition: all 0.5s ease;
}

.greenPrimary {
  border: solid 1px;
  border-color: var(--green);
  background-color: var(--green);
  color: white;
  transition: all 0.5s ease;
}

.greenSecondary {
  border: solid 1px;
  border-color: var(--green);
  color: var(--green);
  transition: all 0.5s ease;
}

.greenSecondary:hover {
  background-color: var(--green);
  color: white;
}

.blueSecondary {
  border: solid 1px;
  border-color: var(--blue);
  color: var(--blue);
  transition: all 0.5s ease;
}

.blueSecondary:hover {
  background-color: var(--blue);
  color: white;
}

.iconLink {
  display: flex;
  align-items: center;
  color: var(--blue);
}

.iconLink > img {
  margin-right: var(--margin-tiny);
}

.iconLink > p {
  text-decoration: none;
}

.icon {
  width: 16px;
  height: 16px;
  margin: 3px;
}

/* Hero  */

.hero-span {
  font-size: 148px;
  font-family: 'Gunny Rewritten';
  margin: '0px';
  letter-spacing: '-0.025em';
  transition: all 0.3s ease;
}

.hero-text {
  font-size: 48px;
  font-weight: 300;
  margin: 0px;
  transition: all 0.3s ease;
}

.kaernten-logo {
  position: absolute;
  right: var(--margin-medium);
  top: 25%;
  height: 90px;
}

@media only screen and (max-width: 1024px) {
  .hero-span {
    font-size: 90px;
  }

  .hero-text {
    font-size: 28px;
  }
}

/* Filter Element */

.filter-item {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-small) 0 var(--padding-small);
  cursor: pointer;
  transition: all 0.5s ease;
}

.filter-item p {
  margin: 0px;
}

.filter-item img {
  margin: 0px;
  height: var(--font-small);
  width: var(--font-small);
}

.active {
  background-color: var(--blue);
  color: white;
}

.active img {
  filter: invert(1);
}

/* Event List Item */

.event-list-item-element {
  margin: auto;
  width: 900px;
  padding: var(--padding-medium);
  display: flex;
  align-items: flex-start;
  transition: all 0.5s ease;
}

.event-list-item-element:hover .event-list-image-wrap {
  box-shadow: var(--box-shadow);
}

.event-list-image-wrap {
  min-width: 200px;
  max-width: 200px;
  margin-right: var(--margin-medium);
  overflow: hidden;
  border-radius: var(--border-radius);
  display: flex;
}

.event-list-image-wrap img {
  width: 100%;
}

.event-list-content-wrap {
  margin-top: var(--margin-small);
}

.event-list-item-content-wrap h3 {
  margin-top: 0px;
  font-weight: 500;
}

.event-list-item-content-wrap .button {
  margin-top: var(--margin-small);
}

.event-list-item-date-wrap {
  display: flex;
  align-items: center;
  margin-right: var(--margin-small);
  font-size: var(--font-small);
}

.event-list-item-date-wrap .icon {
  margin-right: var(--margin-tiny);
}
