:root {
  --blue: #0072b5;
  --black: #222;
  --green: #78BE205;
  --grey: rgba(51, 51, 51, 0.5);
  --margin-tiny: 10px;
  --margin-small: 40px;
  --margin-medium: 60px;
  --margin-large: 80px;
  --padding-tiny: 5px;
  --padding-small: 15px;
  --padding-medium: 30px;
  --border-radius: 12px;
}

.button {
  padding: var(--padding-tiny) var(--padding-small) var(--padding-tiny)
    var(--padding-small);
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button > p {
  align-self: center;
  margin: 0;
}

.searchButton {
  background-color: var(--blue);
  color: white;
  height: max-content;
  transition: all 0.5s ease;
}

.icon {
  width: 16px;
  height: 16px;
}

/* Hero  */

.hero-span {
  font-size: 148px;
  font-family: 'Gunny Rewritten';
  margin: '0px';
  letter-spacing: '-0.025em';
  transition: all 0.3s ease;
}

.hero-text {
  font-size: 48px;
  font-weight: 300;
  margin: 0px;
  transition: all 0.3s ease;
}

.kaernten-logo {
  position: absolute;
  right: var(--margin-medium);
  top: 25%;
  height: 90px;
}

@media only screen and (max-width: 1024px) {
  .hero-span {
    font-size: 90px;
  }

  .hero-text {
    font-size: 28px;
  }
}
