:root {
  --blue: #0072b5;
  --black: #222;
  --green: #78BE205;
  --grey: rgba(51, 51, 51, 0.5);
  --margin-tiny: 10px;
  --margin-small: 40px;
  --margin-medium: 60px;
  --margin-large: 80px;
  --padding-tiny: 5px;
  --padding-small: 15px;
  --padding-medium: 30px;
  --container-width: 1232px;
  --font-small: 12px;
  --font-main: 16px;
  --font-bigger: 24px;
  --font-biggest: 26px;
  --box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 1);
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  margin: 0;
  padding: 0;
}

.boxShadow {
  box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 1);
}

.textShadow {
  text-shadow: 0px 0px 15px #333;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-bottom {
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-large);
}

.darken-image {
  filter: brightness(75%);
}

.container {
  max-width: 1240px;
  margin: auto;
}

.link-component-wrap {
  text-decoration: none;
}

/* Header  */

.header-wrap {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 100%;
  max-width: var(--container-width);
}

.nav-container .nav-wrap {
  display: flex;
  align-items: center;
}

.header-wrap ul {
  display: flex;
}

.header-wrap li {
  list-style-type: none;
  text-decoration: none;
  padding: var(--padding-tiny);
}

.header-link {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-link:hover {
  color: var(--blue);
}

.text-logo-wrap {
  margin-right: var(--margin-small);
  text-decoration: none;
  color: var(--grey);
}

.text-logo-wrap > span {
  margin-right: 5px;
  color: var(--blue);
  text-decoration: none;
}

/* main Section */

.hero-image-wrap {
  max-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.filter-row-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-small);
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-medium);
}

.filter-row-wrap > div {
  height: 24px;
  margin-right: var(--margin-small);
  border: solid 1px;
  border-color: var(--blue);
}

.filter-row-wrap:last-child {
  margin-right: 0px;
}

.filter-selection-wrap {
  padding: -100%;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

.event-list-wrap {
  display: box;
}

.slogan-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-medium);
}

.slogan {
  color: var(--blue);
  font-size: 37px;
  margin: 0px;
}

.slogan span {
  font-family: 'Gunny Rewritten';
  font-size: 48px;
}

/* Event Page  */

.event-container {
  position: relative;
  width: 100%;
}

.image-loading-animation-wrap {
  width: 300px;
  height: 300px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--margin-small);
}

.image-wrap-event-page {
  width: 300px;
  overflow: hidden;
  display: flex;
  border-radius: 12px;
  margin-right: var(--margin-small);
}

.loading-animation-min {
  width: 100px;
}
.image-wrap-event-page img {
  width: 100%;
}

.event-page-content-wrap {
  justify-content: center;
  display: 'flex';
  width: 100%;
  margin-top: var(--margin-large);
}

.event-page-description-wrap {
  width: 400px;
}

.event-page-menu-wrap {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-small);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
